.login {
    width: 300px;
    margin: 50px auto 0;
    padding: 90px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-image: url(https://i.pinimg.com/564x/b6/50/b7/b650b7f57a60a8a239cb8525e6647faa.jpg);
  }
  
  .login h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .login input[type="text"],
  .login input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login button {
    width: 100%;
    padding: 10px;
    background-color: #32879a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login button:hover {
    background-color: #32879a;
  }
  